body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f4f4f4;
        }
        h1 {
            color: #333;
            text-align: center;
            font-size: 36px;
            ;
        }

        nav {
            background-color: green;
            padding: 5px;
            color: white;
        }
        ul {
            list-style-type: none;
            padding: 0;
            text-align: center;
            margin: 0;
        }
        li {
            display: inline;
            margin-right: 50px;
            font-size: 15px;
            font-weight: bold;
        }
        a {
            color: white;
            text-decoration: none;
        }

        .kawasaki {
            background-image: url(../img/Kawasaki-logo.svg\ \(1\).png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 100px;
            width: 250px;
            margin: 20px auto;
        }

        .background1 {
            background-color: white;
            height: 350px;
            width: 100%;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
            background-image: url(../img/91af0e22-6cca-4d78-bf2f-60b705954411.png);
            background-size: 40%;
            background-repeat: no-repeat;
            background-position: center;

        }
        .highlight {
            background-color: grey;
            padding: 15px;
            border-left: 5px solid #0f5132;
            border-right: 5px solid black;
            margin-top: 20px;
        }
        h2 {
            color: #0f5132;
        }
        .specs {
            background-color: grey;
            padding: 15px;
            border-radius: 5px;
            margin-top: 20px;
        }
        .ninfi {
            background-color: #0f5132;
            color: white;
            text-align: center;
            padding: 10px;
            font-size: 18px;
            font-weight: bold;
            margin-top: 15px;
        }



        .logo {
            background-image: url(../img/Kawasaki-logo.svg.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 100px;
            width: 250px;
            margin: 20px auto;
        }
        .background2 {
            background-color: white;
            height: 350px;
            width: 100%;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
            background-image: url(../img/1679889499_kawasaki-ninja-zx-25rr-motor-sport-dengan-harga-terjangkau.avif);
            background-size: 40%;
            background-repeat: no-repeat;
            background-position: center;
        }

        .akhir {
            background-color: white;
            background-image: url(../img/download.png);
            height: 500px;
            width: 100%;
            margin-top: 30px;
            display: flex;
            text-align: center;
            justify-content: center;
            background-size: 46%;
            background-repeat: no-repeat;
            background-position: center;
        }




        .footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
            margin-top: 20px;
        }
        .footer1 {
            display: flex;
            justify-content: space-around;
            background-color: #222;
            color: white;
            padding: 20px;
        }
        .footer1-section {
            flex: 1;
            margin: 0 10px;
        }
        .footer2-section {
            flex: 1;
            margin: 0 10px;
        }
        .footer3-section {
            flex: 1;
            margin: 0 10px;
        }
